.profile {
  background-image: url("https://thumbs.dreamstime.com/z/pretty-spring-blossom-nature-background-white-blooming-tree-blue-sky-sunshine-banner-141457932.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}